* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.firstsection {
    height: 460px;
    display: flex;
}

.firstsection-leftdiv {
    height: 100%;
    width: 50%;
    padding: 20px;
    background: var(--gray-color);
}

.firstsection-rightdiv {
    height: 100%;
    width: 50%;
    background: var(--linear-gradient), url("./images/image1.jpg");

    background-size: cover;
    background-position: bottom left;


    /* background: url("./images/dots.png"); */
    /* background-position: bottom right; */
    /* background-repeat: no-repeat; */

    /* background-size: contain; */
}

.link-holder {
    /* border: 1px solid black; */
    display: flex;
    padding: 20px;
    color: var(--white-color);
    justify-content: space-evenly;
}


.firstsection-leftdiv p {
    margin: 15px 0;
}

.logotext {
    margin: 0 0 20px 0;
}

.logotext span {

    color: var(--main-color);
}

.line {
    background: var(--main-color);
    height: 16px;
    width: 224px;
}

/* Second section starts here */
.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.secondsection-leftdiv {
    width: 310px;
    height: 400px;
    padding: 30px 20px;
    background: var(--gray-color);
}

.secondsection-leftdiv p {
    margin-top: 15px;
}

.secondsection-rightdiv {
    width: 340px;
    height: 460px;
    margin-left: 30px;

    /* overflow: hidden; */
}

.secondsection-rightdiv img {
    width: 100%;
    height: 100%;
}

/* Third section starts here */
.thirdsection {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background: var(--gray-color);
}

.thirdsection-leftdiv {
    width: 340px;
    height: 460px;
    background: url("./images/image3.jpg");
    background-size: cover;
}

.thirdsection-rightdiv {
    width: 340px;
    height: 460px;
    padding: 30px 20px;
    background: var(--main-color);
}

.thirdsection-rightdiv .p2 {
    margin: 15px 0;
}

/* footer section starts here */
footer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    background: var(--main-color);
    color: var(--white-color);
}


.icon-holder i {
    margin: 0 5px;
}